/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    margin-top: 3em;
}

/* Keypad */
#keypad {
    width: 80%;
    margin: auto;
}

/* Title */
#title {
    background: black;
    font-size: 1.5em;
    color: white;
}

#title p {
    margin: auto;
}

/* Display */
#display {
    color: white;
    background: seagreen;
    height: 100px;
}

/* Buttons */
#reset {
    color: yellow;
}

#settings {
    color: orange;
}

#info {
    color: turquoise;
}

button {
    font-size: 2em;
    background: black;
    color: white;
    border-color: lightgreen;
    margin-left: 0px;
    margin-right: 0px;
    height: 2em;
    float: left;
}

button:hover {
    background: blue;
    color: white;
}

#reset:hover {
    background: green;
}

#settings:hover {
    background: purple;
}

#info:hover {
    background: magenta;
}

.row button {
    width: 25%;
}


